@model CRUD_MVC.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
